.jax {
  left: 50%;
  width: 57vmin;
  aspect-ratio: 1 / 1;
  background-image: url("/explorations/sorry-jax/jax-sprite-sheet.webp");
  transform: translateX(20%);
  animation: stunned 0.8s steps(4) infinite;
  transition: opacity 0.4s;
}

.jax--left {
  transform: scaleX(-1) translateX(120%);
}

.jax--hit {
  animation:
    hit 0.8s steps(5) forwards,
    drop-right 0.6s 0.2s ease-out forwards;
}

.jax--hit.jax--left {
  animation:
    hit 0.8s steps(5) forwards,
    drop-left 0.6s 0.2s ease-out forwards;
}

.jax--fall {
  animation: hit 0.8s steps(5) forwards;
}

.jax--fade-out {
  opacity: 0;
}

@keyframes stunned {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 44.45%;
  }
}

@keyframes hit {
  from {
    background-position: 0 44.45%;
  }
  to {
    background-position: 0 100%;
  }
}

@keyframes drop-left {
  0% {
    transform: scaleX(-1) translate(120%, 0);
  }
  33% {
    transform: scaleX(-1) translate(140%, -80%);
  }
  50% {
    transform: scaleX(-1) translate(150%, -100%);
  }
  66% {
    transform: scaleX(-1) translate(170%, -40%);
  }
  100% {
    transform: scaleX(-1) translate(180%, 0);
  }
}

@keyframes drop-right {
  0% {
    transform: translate(20%, 0%);
  }
  33% {
    transform: translate(40%, -80%);
  }
  50% {
    transform: translate(50%, -100%);
  }
  66% {
    transform: translate(70%, -40%);
  }
  100% {
    transform: translate(80%, 0);
  }
}
