---
import BlankLayout from "@/layouts/BlankLayout.astro";
const slug = Number(Astro.params.slug);
let rotation = 0 + "deg";
if (typeof slug === "number" && slug >= 0 && slug <= 100) {
  rotation = (slug / 100) * 180 + "deg";
}

export async function getStaticPaths() {
  const paths = [];
  for (let i = 0; i <= 100; i++) {
    paths.push({ params: { slug: String(i) } });
  }
  return paths;
}

const meta = {
  desc: "Le Bullshitomètre est un outil de mesure du bullshit ambiant dans les conversations. Plus le niveau de bullshit est élevé, plus le Bullshitomètre affiche une valeur élevée.",
  favicon: "/explorations/bullshitometre/favicon.svg",
  ogImage: "/explorations/bullshitometre/og-image.png",
  title: "Bullshitomètre",
};
---

<BlankLayout type="page" {...meta}>
  <div class="container">
    <div class="container-wrapper">
      <div class="gauge">
        <div class="st"></div>
        <div class="st"></div>
        <div class="needle"></div>
        <div class="gauge-center"></div>
      </div>
    </div>
  </div>
</BlankLayout>

<style define:vars={{ rotation }}>
  body,
  html {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    padding-top: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.9);
  }

  .container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }

  .gauge {
    font-family: Arial, Helvetica, sans-serif;
    background: #e7e7e7;
    box-shadow:
      0 0 0 6px rgba(255, 255, 255, 0.09),
      0 0 35px 5px rgba(255, 255, 255, 0.29);
    width: 100%;
    height: 100%;
    border-radius: 50vw 50vw 0 0;
    position: relative;
    overflow: hidden;
    /* safari fix */
    -webkit-transform-style: flat;
    -webkit-transform: translateZ(0);
  }

  .gauge-center {
    content: "";
    color: #fff;
    width: 60vw;
    height: 60%;
    background: #fff;
    border-radius: 30vw 30vw 0 0;
    position: absolute;
    box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
    right: 20vw;
    bottom: 0;
    color: #000;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    padding: 0.5em;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  .gauge-center::before {
    display: block;
    width: 100%;
    text-align: center;
    content: "Bullshitomètre";
    font-size: 5vw;
  }

  .needle {
    width: 45vw;
    height: 7px;
    background: #f00;
    border-radius: 100% 5px 5px 100%;
    position: absolute;
    bottom: 4px;
    left: 5vw;
    transform-origin: 100% 4px;
    animation: speed 1.5s 0.5s cubic-bezier(0.25, 0.25, 0.37, 1.205) forwards;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  }

  .st {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50vw;
    height: 50vw;
    transform-origin: 0 100%;
    opacity: 0.25;
    background: #e84c3d;
    transform: rotate(65deg);
  }

  .st:first-child {
    background: #f1c40f;
    transform: rotate(40deg);
  }

  @keyframes speed {
    to {
      transform: rotate(var(--rotation));
    }
  }
</style>
