/* === Atkinson Hyperlegible Next ================ */
@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/atkinson-hyperlegible-next-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/atkinson-hyperlegible-next-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/atkinson-hyperlegible-next-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible Next";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/atkinson-hyperlegible-next-600-italic.woff2") format("woff2");
}

/* === Roboto Serif ======================== */
@font-face {
  font-display: swap;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 100 400;
  src: url("/fonts/roboto-serif-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 500 900;
  src: url("/fonts/roboto-serif-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif";
  font-style: italic;
  font-weight: 100 900;
  src: url("/fonts/roboto-serif-600-italic.woff2") format("woff2");
}

/* === Source Code Pro ======================== */
@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-code-pro-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/source-code-pro-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/source-code-pro-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/source-code-pro-600-italic.woff2") format("woff2");
}

:root {
  --font-sans:
    "Atkinson Hyperlegible Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-heading:
    "Roboto Serif", Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    "Source Code Pro", SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
}
