@import "@/styles/variables/colors.css";
@import "@/styles/variables/radius.css";
@import "@/styles/variables/spacing.css";

@import "@/styles/icon-button.css";
@import "@/styles/fonts.css";
@import "@/styles/typography.css";
@import "@/styles/utils.css";
@import "@/styles/wrapper.css";
@import "@/styles/wysiwyg.css";

@import "@/styles/plugins/remark-checklist.css";

:root[data-theme="light"] {
  --bg: #f5f5f5;
  --text: rgba(20, 20, 20, 0.8);
}

:root[data-theme="dark"] {
  --bg: #111;
  --text: rgba(235, 235, 235, 0.8);
}

::selection {
  background-color: var(--focus-lower);
  color: var(--bg);
}

* {
  box-sizing: border-box;
}

html {
  /* md: 16px, lg 19px, entre les ddeux on a une taille progressive */
  font-size: clamp(16px, calc(16px + (3 * (100vw - 768px) / 224)), 19px);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--bg, #f5f5f5);
  color: var(--text);
  font-family: var(--font-sans);
  font-feature-settings: "kern";
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-theme="light"] .icon-dark,
[data-theme="dark"] .icon-light {
  display: none;
}
