h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 600;
  text-wrap: pretty;
}

h1 {
  font-size: 2.027rem;
}
h2 {
  font-size: 1.802rem;
}
h3 {
  font-size: 1.602rem;
}
h4 {
  font-size: 1.424rem;
}
h5 {
  font-size: 1.266rem;
}
h6 {
  font-size: 1.125rem;
}
