---
import { MAIN_MENU } from "@/configs/mainMenu";
import ThemeToggle from "./ThemeToggle.astro";

const pathname = new URL(Astro.request.url).pathname;
const pathname_part = pathname.split("/")[1];
---

<header id="main-header">
  <nav
    class="sticky-wrapper"
    itemscope
    itemtype="http://schema.org/SiteNavigationElement"
  >
    <ul>
      {
        MAIN_MENU.map((item) => (
          <li>
            <a
              href={item.href}
              class={
                "/" + pathname_part === "/" + item.href.split("/")[1]
                  ? "is-active"
                  : ""
              }
            >
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>

    <ThemeToggle />
  </nav>
</header>

<style>
  @import "@/styles/mixins/link.css";

  #main-header {
    grid-area: main-header;
    width: 100%;
  }

  .sticky-wrapper {
    align-items: center;
    display: flex;
    gap: var(--gutter-half);
    justify-content: space-between;
    padding: var(--gutter2) var(--gutter3);
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: var(--gutter2);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    @add-mixin link;
  }

  @media (--lg) {
    #main-header {
      position: sticky;
      top: 0;
    }

    .sticky-wrapper {
      align-items: end;
      flex-direction: column;
      padding-top: var(--gutter3);
    }

    ul {
      align-items: end;
      flex-direction: column;
      gap: calc(var(--gutter) * 0.5);
    }
  }
</style>
