---
type Props = {
  items?: string[];
  name?: string;
};

const { items = [], name = "filter" } = Astro.props as Props;
---

<nav>
  <label>
    <input type="radio" name={name} value="all" checked />
    🌐
  </label>
  {
    items.map((item) => (
      <label>
        <input type="radio" name={name} value={item} />
        {item}
      </label>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    flex-wrap: wrap;
    height: 32px;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0 var(--gutter);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      background: var(--action-lower);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      transform: translate(-50%, 0) scale(0);
      transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    &:has(input:checked)::after {
      transform: translate(-50%, 0) scale(1);
    }
  }

  input[type="radio"] {
    display: none;
  }
</style>
