---
import Wysiwyg from "@/components/Wysiwyg.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  type: string;
}

const { title, type } = Astro.props;
---

<BaseLayout title={title} type={type}>
  <div class="text-content-wrapper">
    <slot />
  </div>
</BaseLayout>
