---
import BaseLayout from "./BaseLayout.astro";
import ContentEnd from "./components/ContentEnd.astro";

interface Props {
  title: string;
  type: string;
  ogImage?: string;
}

const { title, type, ogImage } = Astro.props;
---

<BaseLayout title={title} type={type} ogImage={ogImage}>
  <div class="text-content-wrapper">
    <slot />
  </div>

  <ContentEnd />
</BaseLayout>
