@define-mixin link {
  --line-width: 0.05em;

  color: currentColor;
  text-decoration: none;

  background-image: linear-gradient(0deg, var(--action), var(--action));
  background-position: 100% calc(100% - 0.1em);
  background-repeat: no-repeat;
  background-size: 100% var(--line-width);
  transition:
    background-size 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    text-shadow 0.3s ease;

  text-shadow:
    -1px -1px 0 var(--bg),
    1px -1px 0 var(--bg),
    -1px 1px 0 var(--bg),
    1px 1px 0 var(--bg);

  &:hover,
  &:focus {
    background-size: 0 var(--line-width);
  }

  &:focus-visible {
    outline: 2px solid var(--focus);
    outline-offset: 3px;
  }
}
