---
import "./_styles/cassette-micro-mages.css";

import BlankLayout from "@/layouts/BlankLayout.astro";
const meta = {
  desc: "Cassette Micro Mages est un rendu en 3D en CSS rendant hommage au jeu NES de le compagnie Morphcat.",
  favicon: "/explorations/cassette-micro-mages/favicon.svg",
  ogImage: "/explorations/cassette-micro-mages/og-image.png",
  title: "Cassette Micro Mages",
};
---

<BlankLayout type="page" {...meta}>
  <div class="cartridge">
    <div class="box body">
      <div class="box body__left">
        <div class="box__side box__side--front"></div>
        <div class="box__side box__side--back"></div>
        <div class="box__side box__side--top"></div>
        <div class="box__side box__side--bottom"></div>
        <div class="box__side box__side--left"></div>
        <div class="box__side box__side--right"></div>
      </div>

      <div class="body__middle">
        <div class="box body__middle__top">
          <div class="box__side box__side--front"></div>
          <div class="box__side box__side--back">
            <div class="stripes"></div>
          </div>
          <div class="box__side box__side--top"></div>
          <div class="box__side box__side--bottom"></div>
          <div class="box__side box__side--left"></div>
          <div class="box__side box__side--right"></div>

          <div class="stripes"></div>
        </div>
        <div class="box body__middle__bottom">
          <div class="box__side box__side--front"></div>
          <div class="box__side box__side--back"></div>
          <div class="box__side box__side--top"></div>
          <div class="box__side box__side--bottom"></div>
          <div class="box__side box__side--left"></div>
          <div class="box__side box__side--right"></div>

          <div class="stripes"></div>
        </div>
      </div>

      <div class="box body__right">
        <div class="box__side box__side--front"></div>
        <div class="box__side box__side--back"></div>
        <div class="box__side box__side--top"></div>
        <div class="box__side box__side--bottom"></div>
        <div class="box__side box__side--left"></div>
        <div class="box__side box__side--right"></div>

        <div class="cartridge__picture"></div>
        <div class="cartridge__triangle"></div>
      </div>

      <div class="back-large"></div>
      <div class="hole hole--1"></div>
      <div class="hole hole--2"></div>
      <div class="hole hole--3"></div>
    </div>

    <div class="box bottom">
      <div class="box__side box__side--front"></div>
      <div class="box__side box__side--back"></div>
      <div class="box__side box__side--top"></div>
      <div class="box__side box__side--bottom"></div>
      <div class="box__side box__side--left"></div>
      <div class="box__side box__side--right"></div>

      <div class="back-small"></div>

      <div class="stripes__wrapper">
        <div class="stripes"></div>
      </div>
    </div>
  </div>

  <script>
    import "./_scripts/cassette-micro-mages";
  </script>
</BlankLayout>
